@tg-orange-dark: 	#a75425;
@tg-orange: 		#f5851f;
@tg-orange-light: 	#f79b49;

@tg-blue-dark: 		#004454;
@tg-blue: 			#0088a9;
@tg-blue-light: 	#00cdff;

@tg-black-dark: 	#18181c;
@tg-black: 			#313139;
@tg-black-light: 	#626272;

@tg-white: 			#ffffff;
