@import "_colors.less";

.tg-orange-dark {
  background: @tg-orange-dark;
}

.tg-orange {
  background: @tg-orange;
}

.tg-orange-light {
  background: @tg-orange-light;
}

.tg-blue-dark {
  background: @tg-blue-dark;
}

.tg-blue {
  background: @tg-blue;
}

.tg-blue-light {
  background: @tg-blue-light;
}

.tg-black-dark {
  background: @tg-black-dark;
}

.tg-black {
  background: @tg-black-dark;
}

.tg-black-light {
  background: @tg-black-light;
}



.tg-orange-dark-text {
  color: @tg-orange-dark;
}

.tg-orange-text {
  color: @tg-orange;
}

.tg-orange-light-text {
  color: @tg-orange-light;
}

.tg-blue-dark-text {
  color: @tg-blue-dark;
}

.tg-blue-text {
  color: @tg-blue;
}

.tg-blue-light-text {
  color: @tg-blue-light;
}

.tg-black-dark-text {
  color: @tg-black-dark;
}

.tg-black-text {
  color: @tg-black-dark;
}

.tg-black-light-text {
  color: @tg-black-light;
}




.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

#nav-main {
  border-bottom: 1px solid black;
}

#nav-main-inverse {
  border-bottom: 1px solid white;
}

.service-box {
	max-height: 33.333vw;
	h3 {
		padding: 5%;
	}
}

.divider {
  border-right: 1px solid black;
}

.divider-white {
  border-right: 1px solid white;
}

.footer-social {
  color: #fff;
}
